html,
body,
p,
div {
    font-family: 'Roboto' !important;
    font-size: 0.9rem
}

a {
    color: #1F7CBF;
}

h1,
h2 {
    color: #1F7CBF;
}

.bg-primary {
    background-color: #1F7CBF;
    color: white;
}

.navbar-nav {
    margin-left: auto;
}

.btn-primary {
    background-color: #1F7CBF !important;
}

.bg-primary2 {
    background-color: #1F7CBF !important;
    color: white;
}

.nav-linkprimary {
    color: #1F7CBF !important;
}

.banner {
    width: 100%;
    height: 500px;
    background-image: url("../images/annie-spratt-FSFfEQkd-1.png");
    background-position: center center;
}

[class*="icono-arrow1"][class*="-left"] {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

[class*="icono"] {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: #1F7CBF;
    box-sizing: border-box;
}

[class*="icono-arrow1"] {
    width: 13px;
    height: 13px;
    border-width: 2px 2px 0 0;
    border-style: solid;
    margin: 20px;
    margin-left: 80px;
}

[class*="icono"]:after,
[class*="icono"]:before {
    content: "";
    box-sizing: border-box;
}

[class*="icono-arrow1"]:before {
    right: 0;
    top: -1px;
    position: absolute;
    height: 1px;
    box-shadow: inset 0 0 0 32px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 90px;
    -webkit-transform-origin: right top;
    transform-origin: right top;
}

[class*="icono"]:after,
[class*="icono"]:before {
    content: "";
    box-sizing: border-box;
}

.group {
    position: relative;
    margin-bottom: 15px;
}

input {
    font-size: 18px;
    padding: 16px 10px 2px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
}

input:focus {
    outline: none;
}


/* LABEL ======================================= */

label {
    color: #999;
    font-size: 1em;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 16px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}


/* active state */

input:focus~label,
input:valid~label {
    top: -4px;
    font-size: 0.9em;
    color: #5264AE;
}


/* BOTTOM BARS ================================= */

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}


/* active state */

input:focus~.bar:before,
input:focus~.bar:after {
    width: 50%;
}


/* HIGHLIGHTER ================================== */

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}


/* active state */

input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}


/* ANIMATIONS ================ */

@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@media only screen and (min-width: 770px) {
    .formulario {
        position: absolute;
        top: -200px;
    }
}